<!-- Based on Code Institue's "Boutique Ado" Walkthrough Project -->
{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="row main-clr-thm">
    <div class="col text-center mt-3">
        <h2>Shopping Cart</h2>
        <hr class="w-50 mb-1">
    </div>
</div>
<div class="cart-container container mb-2">
    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Book:</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in cart_items %}
                    <tr>
                        <td class="p-3 w-25 cart-img">
                            {% if item.book.image %}
                            <img class="img-fluid rounded ct-img" src="{{ item.book.image.url }}"
                                alt="{{ item.book.name }}">
                            {% else %}
                            <img class="img-fluid rounded ct-img" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ item.book.name }}">
                            {% endif %}
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.book.name }}</strong></p>
                            <p class="my-0 small text-muted">SKU: {{ item.book.sku|upper }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">${{ item.book.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            {% include "cart/quantity-form.html" %}
                        </td>
                        <td class="py-3">
                            <p class="my-0">${{ item.book.price | calc_subtotal:item.quantity }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="d-block">
                <div class="row">
                    <div class="col-12">
                        {% include "cart/cart-total.html" %}
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12">
                        <a href="#" class="text-uppercase btn main-clr-thm">
                            <span class="text-uppercase">Secure Checkout</span>
                            <span>
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="{% url 'books' %}" class="text-uppercase btn main-clr-thm mb-2">
                            <i class="fa-solid fa-book-open"></i> Find more books now
                        </a>
                    </div>
                </div>
            </div>
            {% else %}
            <p class="lead mb-5">Your cart is empty.</p>
            <a href="{% url 'books' %}" class="my-2 text-uppercase btn main-clr-thm">
                <span>
                    <i class="fa-solid fa-book-open"></i> Find your book now
                </span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0);
    })
</script>

<script type="text/javascript">
    
</script>
{% endblock %}