<!-- Based on Code Institue's "Boutique Ado" Walkthrough Project -->
<form class="form update-form" method="POST" action="{% url 'update_cart' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group input-group-{{ item.item_id }}">
            <div class="input-group-prepend">
                <button class="main-clr-thm decrement-qty btn btn-sm  decrement-qty_{{ item.item_id }}" data-item_id="{{ item.item_id }}" aria-label="Books quantity decrement">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="text-center orm-control form-control-sm qty_input id_qty_{{ item.item_id }}" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" data-size="{{ item.size }}" aria-label="Books quantity input">
            <div class="input-group-append">
                <button class="main-clr-thm increment-qty btn btn-sm increment-qty_{{ item.item_id }}" data-item_id="{{ item.item_id }}" aria-label="Books quantity increment">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>
<a class="mx-3 update-link text-navy"><small>Update</small></a>
<a class="mx-3 remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>