{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Delivery page -->
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row main-clr-thm">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Deliveries Policy for HiStory Book Store</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 container d-flex flex-column mt-5 delivery-container">
            <h3>Domestic Shipments</h3>
            <p>
                All orders are shipped by post, usually it is 5-7 business days to arrive.
                Orders placed before 16:00 Irish Standard Time (IST) will be shipped out the same day, and orders placed
                after 16:00 Irish Standard Time (IST)will be shipped out the next business day.
            </p>
            <h3>European Union Shipments</h3>
            <p>
                All orders are shipped by post, usually it is 5-10 business days to arrive. (depending on the
                destination
                country)
                Orders placed before 16:00 Irish Standard Time (IST) will be shipped out the same day, and orders placed
                after 16:00 Irish Standard Time (IST)will be shipped out the next business day.
            </p>
            <h3>Non-EU Shipments</h3>
            <p>
                All orders are shipped by a courier-service, usually it is 5-14 business days to arrive. (depending on
                thedestination country) Orders placed before 16:00 Irish Standard Time (IST) will be shipped out the
                same
                day, and orders placed after 16:00 Irish Standard Time (IST)will be shipped out the next business day.
                HiStory Book Store is not responsible for any import customs duties/ formalities that may apply in
                the country of destination.
                All oders will by shipped using Delivery at Place (DAP) Incoterms 2020 terms.
                <strong>The buyer</strong> is responsible for paying any additional charges for <strong>import customs
                    clearance</strong>.
            </p>
        </div>
    </div>
</div>
{%endblock%}