html {
    height: 100%;
}

/* Based on Code Institue's "Boutique Ado" Walkthrough Project */
body {
    background: url('/media/homepage_background.jpg') no-repeat center center local;
    background-size: cover;
    height: calc(100vh - 270px);
    color: #505;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Playfair Display', serif;
}

/* From Code Institue's "Boutique Ado" Walkthrough Project */
.text-black {
    color: #000 !important;
}

.main-clr-thm {
    color: #fafafa;
    background-color: #505;
}

.cst-prpl {
    color: #505;
}

li {
    list-style-type: none;
}

a {
    color: #505;
}

header {
    background-color: #fafafa;
}

/* From Code Institue's "Boutique Ado" Walkthrough Project */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* From Stackoverflow */
.contain-bk-img {
    width: 350px;
    height: 200px;
    border: 1pt solid #000;
    object-fit: contain;
}

/* From Code Institue's "Boutique Ado" Walkthrough Project */
.book-container {
    min-height: 60vh;
}

/* From Code Institue's "Boutique Ado" Walkthrough Project */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

footer {
    padding-top: 2vh;
    background-color: #fafafa;
}

/* Media queries */

/* Smaller h3 for small screens */
@media (max-width: 360px) {
    .era-badge-name {
        font-size: 150%;
    }
}

/* Smaller h3 for extra small screens */
@media (max-width: 230px) {
    .era-badge-name {
        font-size: 90%;
    }
}