html {
    height: 100%;
}

/* Based on Code Institue's "Boutique Ado" Walkthrough Project */
body {
    background: url('/media/homepage_background.jpg') no-repeat center center local;
    background-size: cover;
    height: calc(100vh - 270px);
    color: #505;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Playfair Display', serif;
}

/* From Code Institue's "Boutique Ado" Walkthrough Project */
.text-black {
    color: #000 !important;
}

.main-clr-thm {
    color: #FAFAFA;
    background-color: #505;
}

.cst-prpl {
    color: #505;
}

li {
    list-style-type: none;
}

a {
    color: #505;
}

header {
    background-color: #FAFAFA;
}

/* From Code Institue's "Boutique Ado" Walkthrough Project */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.btn:hover,
.cart-in:hover {
    color: #FFF642;
}

/* From Code Institue's "Boutique Ado" Walkthrough Project */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.bg-delivery {
    background-color: #30d5c8;
}

/* From Stackoverflow */
.contain-bk-img {
    width: 400px;
    height: 500px;
    border: 1pt solid #000;
    object-fit: contain;

}

.ct-img {
    width: 100%;
    height: 180px;
}

.update-link,
.cst-info,
.checkout-save {
    color: #0F3860;
}

/* Inspired by Code Institue's "Boutique Ado" Walkthrough Project */
.custom-toast {
    max-height: 80vh;
    overflow: scroll;
}

/* From Code Institue's "Boutique Ado" Walkthrough Project */
.toast-capper {
    height: 2px;
}

.book-container,
.cart-container,
.signup-container {
    min-height: 60vh;
}

/* From Code Institue's "Boutique Ado" Walkthrough Project */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* From Code Institue's "Boutique Ado" Walkthrough Project */
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


/* Based on Codersblock */
.cart-in {
    color: #FAFAFA;
    background-color: #505;
    box-shadow:
        inset 60px 0 120px #505,
        /* left magenta */
        inset -60px 0 120px #0ff;
    /* right cyan */
}

.signup input {
    width: 45%;
}

footer {
    padding-top: 2vh;
    background-color: #fafafa;
}

/* Checkout from Code Institue's "Boutique Ado" Walkthrough Project */

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

/* Media queries */

/* Hide cart image for small screenss */
@media (max-width: 460px) {
    .ct-img {
        display: none;
    }
}

/* Smaller h3 for small screens */
@media (max-width: 360px) {
    .era-badge-name {
        font-size: 150%;
    }
}

/* Smaller h3 for extra small screens */
@media (max-width: 230px) {
    .era-badge-name {
        font-size: 90%;
    }
}