html {
    height: 100%;
}

/* Based on Code Institue's "Boutique Ado" Walkthrough Project */
body {
    background: url('/media/homepage_background.jpg') no-repeat center center local;
    background-size: cover;
    height: calc(100vh - 270px);
    color: #505;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Playfair Display', serif;
}

/* From Code Institue's "Boutique Ado" Walkthrough Project */
.text-black {
    color: #000 !important;
}

.main-clr-thm {
    color: #FAFAFA;
    background-color: #505;
}

.cst-prpl {
    color: #505;
}

li {
    list-style-type: none;
}

.bullet-list {
    list-style-type: disc;
}

a {
    color: #505;
}

header {
    background-color: #FAFAFA;
}

/* From Code Institue's "Boutique Ado" Walkthrough Project */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.error-page {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: yellow;
    z-index: -1;
}

.btn:hover,
.cart-in:hover {
    color: #FFF642;
}

/* From Code Institue's "Boutique Ado" Walkthrough Project */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.bg-delivery {
    background-color: #30d5c8;
}

/* From Stackoverflow */
.contain-bk-img {
    width: 400px;
    height: 500px;
    border: 1px solid #000;
    object-fit: contain;

}

.contain-pst-img {
    width: 600px;
    height: 300px;
    border: 1px solid #000;
    object-fit: contain;
}

.ct-img {
    width: 100%;
    height: 180px;
}

.update-link,
.cst-info,
.checkout-save {
    color: #0F3860;
}

/* Inspired by Code Institue's "Boutique Ado" Walkthrough Project */
.custom-toast {
    max-height: 80vh;
    overflow: scroll;
}

/* From Code Institue's "Boutique Ado" Walkthrough Project */
.toast-capper {
    height: 2px;
}

.book-container,
.cart-container,
.signup-container,
.login-container,
.received-container,
.delivery-container,
.about-containe,
.blog-container {
    min-height: 60vh;
}

.em-confirm-container,
.logout-container,
.delete-container {
    min-height: 40vh;
}

/* From Code Institue's "Boutique Ado" Walkthrough Project */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* From Code Institue's "Boutique Ado" Walkthrough Project */
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


/* Based on Codersblock */
.cart-in {
    color: #FAFAFA;
    background-color: #505;
    box-shadow:
        inset 60px 0 120px #505,
        /* left magenta */
        inset -60px 0 120px #0ff;
    /* right cyan */
}

.signup input {
    width: 45%;
}

footer {
    padding-top: 2vh;
    background-color: #fafafa;
}

/* Checkout from Code Institue's "Boutique Ado" Walkthrough Project */
#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}


/* Based on Code Institue's "Boutique Ado" Walkthrough Project */
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0F3860;
    z-index: 9999;
    opacity: 0.5;
}

/* From Code Institue's "Boutique Ado" Walkthrough Project */
.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

#id_default_phone_number,
#id_default_street_address1,
#id_default_street_address2,
#id_default_town_or_city,
#id_default_county,
#id_default_postcode,
#id_default_country {
    color: #0F3860;
}

/* Based on Code Institue's "Boutique Ado" Walkthrough Project */
.order-history {
    max-height: 40vh;
    overflow: scroll;
}

/* Mailchimp */
#mc_embed_signup {
    padding: 0;
    border: 1pt solid #000;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 100%;
}

/* Mailchimp customised success response for accessibility */
#mce-success-response {
    color: #294A08 !important;
}

.refferal_badge {
    max-width: 100%;
}

/* Media queries */

@media (min-width: 992px) {
    #home-tab {
        display: none !important;
    }
}

@media (max-width: 500px) {
    .ct-img {
        display: none;
    }

    .logo-font {
        font-size: 100%;
    }

    #new-book-btn {
        padding: 5px;
    }

    .message-container {
        width: 50%;
        height: 50%;
    }

    .qty_input {
        padding: 0 5vw;
    }
}

/* Smaller h3 for small screens */
@media (max-width: 360px) {
    .era-badge-name {
        font-size: 150%;
    }
}

/* Smaller h3 for extra small screens */
@media (max-width: 230px) {
    .era-badge-name {
        font-size: 90%;
    }
}