<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-books-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-books-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Historical Era</a>
                <a href="" class="dropdown-item">All Books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="ancient-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ancient Times
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="ancient-link">
                <a href="" class="dropdown-item">Europe</a>
                <a href="" class="dropdown-item">Rest of the World</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="medieval-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Medieval
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="medieval-link">
                <a href="" class="dropdown-item">Europe</a>
                <a href="" class="dropdown-item">Rest of the World</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="renaissance-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Renaissance
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="renaissance-link">
                <a href="" class="dropdown-item">Europe</a>
                <a href="" class="dropdown-item">Rest of the World</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="industrial-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Early Industrial Revolution & Modern Era
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="industrial-link">
                <a href="" class="dropdown-item">Europe</a>
                <a href="" class="dropdown-item">Rest of the World</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="xxc-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                XX Century
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="xxc-link">
                <a href="" class="dropdown-item">Europe</a>
                <a href="" class="dropdown-item">Rest of the World</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="xxic-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Early XXI Century
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="xxic-link">
                <a href="" class="dropdown-item">Europe</a>
                <a href="" class="dropdown-item">Rest of the World</a>
            </div>
        </li>

    </ul>
</div>