<!-- Based on Code Institue's "Boutique Ado" Walkthrough Project -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'books'%}" id="all-books-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Books
            </a>
            <div class="dropdown-menu border-0 dropright" aria-labelledby="all-books-link">
                <a href="{% url 'books' %}?sort=price" class="dropdown-item" id="price-link" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    By Price
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="price-link">
                    <a href="{% url 'books' %}?sort=price&direction=asc" class="dropdown-item">
                        Lowest
                    </a>
                    <a href="{% url 'books' %}?sort=price&direction=desc" class="dropdown-item">
                        Highest
                    </a>
                </div>
                <a href="{% url 'books' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'books' %}?sort=era&direction=asc" class="dropdown-item ">By Historical Era</a>
                <a href="{% url 'books'%}" class="dropdown-item">All Books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'books' %}?era=ancient"
                id="ancient-link">
                Ancient Times
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'books' %}?era=medieval"
                id="medieval-link">
                Medieval
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'books' %}?era=renaissance"
                id="renaissance-link">
                Renaissance
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'books' %}?era=industrial"
                id="industrial-link">
                Early Industrial Revolution & Modern Era
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'books' %}?era=xxc" id="xxc-link">
                XX Century
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'books' %}?era=xxic" id="xxic-link">
                Early XXI Century
            </a>
        </li>

    </ul>
</div>