{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row main-clr-thm">
        <div class="col text-center mt-3">
            <h2 class="logo-font">HiStory Blog</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="container blog-container">
        <div class="row">
            <!--Blog Entries-->
            {% for post in post_list %}
            <div class="col-xs-12 col-md-4">
                <div class="card my-3">
                    <img class="card-img-top" src=" {{ post.post_image.url }}" alt="Card image cap"
                        style="height: 300px;">
                    <div class="card-body">
                        <a href="{% url 'post_detail' post.slug %}">
                            <h5 class="card-title">{{post.post_title}}</h5>
                        </a>
                        <p class="card-text">{{post.excerpt}}</p>
                        <p class="card-text"><small class="text-muted">{{post.created_on}}</small></p>
                        <p class="card-text"><small class="text-muted">Author: {{post.author}}</small></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Paginator -->
{% if is_paginated %}
<nav aria-label="Page navigation">
    <p class="text-muted text-center">
        Page number: {{ page_obj.number }}
    </p>
    <ul class="pagination d-flex justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo; PREVIOUS </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}