{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="overlay"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <div class="p-2 mt-2">
                <h3>
                    {{ post.post_title }}
                </h3>
            </div>
            <p class="text-muted m-0">by {{ post.author }} | {{ post.created_on }}</p>
        </div>
    </div>
    {% if post.post_image %}
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="my-5 contain-pst-img">
                <a href="{{ post.post_image.url }}" target="_blank">
                    <img class="card-img-top img-fluid contain-pst-img" src="{{ post.post_image.url }}" alt="{{ post.post_title }}">
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">
                <div class="card-body">
                    <div class="card-text">
                        {{ post.content | safe }}
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <strong>
                                {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                    {% csrf_token %}
                                    {% if request.user.userprofile in post.likes.all %}
                                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn main-clr-thm" aria-label="Filled-in heart button, post already liked, click to remove post like"><i class="fas fa-heart"></i></button>
                                    {% else %}
                                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn main-clr-thm" aria-label="Empty heart button, post not liked yet, click to add post like"><i class="far fa-heart"></i></button>
                                    {% endif %}
                                </form>
                                {% else %}
                                <span class="text-secondary"><i class="far fa-heart"></i></span>
                                {% endif %}
                            </strong>
                            <span>{{post.number_of_likes}}</span>
                        </div>
                        <div class="col-1 ml-5">
                            {% with comments.count as total_comments %}
                            <strong class="text-secondary"><i class="far fa-comments"></i>
                                {{ total_comments }}</strong>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 ">
                <h3 class="mt-1">Comments:</h3>
                <div class="card-body">
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            {{ comment.username }} commented:
                        </p>
                        {{ comment.body | linebreaks }}
                        <p>Date posted: {{ comment.created_on|date:"SHORT_DATE_FORMAT"}} at
                            {{comment.created_on|date:"G:i a"}}
                        </p>
                    </div>
                    <hr>
                    {% endfor %}
                    <div class="text-black">
                        <p>***We hope you enjoy reading our posts & the discussions in the comments section***</p>
                        <p>However, if you have any suggestions related to their content, please let us
                            know via the
                            <u><a href="{% url 'contact' %}">contact page</a></u>
                        </p>
                    </div>
                    <div class="mt-5">
                        <p>
                            Did you like post like this? Follow us on <a href="https://www.facebook.com/profile.php?viewas=100000686899395&id=61550506871142" rel="nofollow" target="_blank" aria-label="Link to HiStory Book Store Facebook page"><i class="fa-brands fa-facebook"></i></a> to find similar
                            content but in a
                            bit shorter form.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 card mb-4  mt-3 ">
                <div class="card-body">
                    {% if user.is_authenticated %}
                    <h3>Comment this post:</h3>
                    <p>Add a comment as: {{ user.username }}</p>
                    <form method="POST" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn main-clr-thm">Submit</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fa-solid fa-up-long text-black mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    /* 
    * From Code Institue's "Boutique Ado" Walkthrough Project
    * Brings back to the top of the books list
    */
    $('.btt-link').click(function (e) {
        window.scrollTo(0,0);
    });
</script>
{% endblock %}