{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <!--Required Meta Tags-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Kamil Wojciechowski">
    <meta name="description"
        content="Online history books e-commerce store offering selection of literature positions from ancient times to modern history. Shop now to find your next story to read about.">
    <meta name="keywords"
        content="Hi Story, History, Ancient Times, Medieval, Renaissance, Modern Times, Inudstrial Revolution, First World War, Great War, Second World War, WW2, XX Century, Early XXI Century, gifts for history passionate, History Reading">
    <meta property="og:title" content="HiStory| History Books Store">
    <meta property="og:description"
        content="Online history books e-commerce store offering selection of literature positions from ancient times to modern history.">
    <!--Favicon-->
    <link rel="icon" type="image/xicon" href="{% static 'favicon/favicon.ico' %}">

    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <title>HiStory| History Books Store</title>

    {% block corecss %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    <!--Mailchimp CSS-->
    <link rel="stylesheet" href="//cdn-images.mailchimp.com/embedcode/classic-071822.css">
    <style>
        #mc_embed_signup {
            background: #fff;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
        }
    </style>
    {% endblock %}

    {% block corejs %}
    <!--Stripe-->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Font Awesont kit-->
    <script src="https://kit.fontawesome.com/3af9543e24.js" crossorigin="anonymous"></script>
    <!-- Bootstrap Scripts-->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

</head>

<body>
    <!-- Header Nav bar-->
    <header class="container-fluid">
        <div id="topnav" class="row nav-bg-color pt-lg-2 d-none d-lg-flex">
            <!-- Nav logo-->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="cst-prpl my-0"><strong>Hi</strong>Story</h2>
                </a>
            </div>
            <!-- Nav center for links-->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'books' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn main-clr-thm border border-black rounded-0" type="submit"
                                aria-label="Search our books">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto pt-2">
                <!-- Col for account and cart options-->
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="nav-link" href="#" id="dt-user-options" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="text-center">
                                {% if request.user.is_authenticated %}
                                <div><i class="fas fa-user fa-lg cst-prpl"></i></div>
                                <p class="my-0 cst-prpl">My Account</p>
                                {% else %}
                                <div><i class="fas fa-user fa-lg cst-prpl"></i></div>
                                <p class="my-0 cst-prpl">Login / Sign Up</p>
                                {% endif %}
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if user.is_superadmin %}
                            <a href="#" class="dropdown-item">Admin Panel</a>
                            {% endif %}
                            {% if user.is_staff %}
                            <a href="#" class="dropdown-item">Books Management</a>
                            {% endif %}
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}cart-in font-weight-bold{% else %}cst-prpl{% endif %} nav-link"
                            href="{% url 'view_cart' %}">
                            <div class="text-center">
                                <div><i class="fa-solid fa-cart-shopping fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                    Cart
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center pb-3">
            <div class="col cst-prpl">
                <h4 class="my-1 ">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script>
        $('.toast').toast('show');
    </script>

    {% endblock %}
    <!-- Footer -->
    <footer>
        <!-- About, Social, Pages & Contact -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <ul>
                        <li>
                            <h5 class="text-center"><a href="#"><strong>About Us</strong></a></h5>
                        </li>
                        <li class="text-center"><a href=" #">Who we are</a></li>
                        <li class="text-center"><a href=" #">HiStory Club</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-12">
                    <ul>
                        <li>
                            <h5 class="text-center"><strong>Check Our Profiles on:</strong></h5>
                        </li>
                        <li class="text-center"><a href="https://www.pinterest.ie/" rel="nofollow"
                                target="_blank">Pinterest</a>
                        </li>
                        <li class="text-center"><a href="https://www.youtube.com/" rel="nofollow"
                                target="_blank">YouTube</a>
                        </li>
                        <li class="text-center"><a href="https://www.facebook.com/" rel="nofollow"
                                target="_blank">Facebook</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-12">
                    <ul>
                        <li>
                            <h5 class="text-center"><strong>Explore Our Website:</strong></h5>
                        </li>
                        <li class="text-center"><a href=" #">Books</a></li>
                        <li class="text-center"><a href=" #">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-12">
                    <ul>
                        <li>
                            <h5 class="text-center"><strong>Contact:</strong></h5>
                        </li>
                        <li class="text-center"><u><a href="#">Contact us using our form</a></u>, or by:</li>
                        <li class="text-center">Phone: +353 085 123 4567, or by:</li>
                        <li class="text-center">E-mail: contact@history-books.com</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Legal notices -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <ul>
                        <li class="text-center"><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4">
                    <ul>
                        <li class="text-center"><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4">
                    <ul>
                        <li class="text-center"><a href="#">Deliveries Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Signature -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <small class="text-dark text-center">Created by Kamil Wojciechowski.<br>
                </div>
            </div>
        </div>
        </div>
    </footer>
</body>

</html>